@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
body {
  margin: 0;
  padding: 0;
  display: grid;
  object-position: bottom;
  justify-content: center;
  align-items: center;
  background-color: black;
  grid-template-columns: 40% 40% 40%;
  grid-template-rows: 75% 15% 10%;
  grid-template-areas: 
  "main main main"
  "side side side"
  "footer footer footer";
}
main { 
  grid-area: main;
  object-position: center;
  text-align: center;
  position: relative;
  background-image: url("https://th.bing.com/th/id/OIG.1_OizHGGS4Zdw8hxRacc?w=1024&h=1024&rs=1&pid=ImgDetMain");
  background-size: cover;
  background-position: center 15%;
  height: 75vh;
  background-attachment: fixed;
}
aside {
  grid-area: side;
  text-align: center;
  height: 15vh;
  background-color: #ECE2DA;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #ECE2DA;
  height: 10vh;
  align-items: flex-start;
  margin:0;
  object-position: center;
}
main h1 {
  color:#8B1B00;
  font-family: 'tilt prism', sans-serif;
  font-size: 70px
}
aside h1 {
  color:#8B1B00;
  font-family: 'tilt prism', sans-serif;
  font-size: 30px; 
}
main button {
  font-family: 'tilt prism', sans-serif;
  color:#8B1B00;
  cursor: pointer;
  font-size: 17px;
  background-color: #F6E8E6;
  padding: 20px 32px;
  border-radius: 70px;
}
button:hover{
  background-color: #8B1B00;
  color: #ECE2DA;
}
.Choices {
  display: none;
  color:#F6E8E6;
  padding:14px 40px;
  font-size: 15px;
  border-radius: 70px;
  background-color: #8B1B00;
  cursor: pointer;
  margin-right: 100px;
  font-family: 'tilt prism', sans-serif;
}
.Choices:last-child {
  margin-right: 0;
}
.Choices:hover {
  background-color: #ECE2DA;
  color: #8B1B00;
}
p {
  font-family: 'tilt prism',sans-serif;
  color:#8B1B00;
  font-size: 16px;
  }
  #RestartButton {
    display: none;
  }
